<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sergio Pizza</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.sergio.pizza</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sergio_pizza</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	
	<!-- Permission descriptions -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Доступ к геолокации необходим для поиска ближайших ресторанов и определения адреса доставки</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Доступ к геолокации необходим для поиска ближайших ресторанов и определения адреса доставки</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Доступ к геолокации необходим для поиска ближайших ресторанов и определения адреса доставки</string>
	
	<!-- For share_plus -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Доступ к галерее необходим для сохранения и отправки фотографий</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Доступ к галерее необходим для сохранения фотографий</string>
	
	<!-- For secure storage -->
	<key>KeychainAccessibility</key>
	<string>WhenUnlocked</string>
	
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
